[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chaitu6
[access "refs/for/refs/*"]
	read = group user/chaitu6
	push = group user/chaitu6
	label-Code-Review = -2..+2 group user/chaitu6
	label-Verified = -1..+1 group user/chaitu6
	rebase = group user/chaitu6
	removeReviewer = group user/chaitu6
	submit = group user/chaitu6
[access "refs/heads/*"]
	read = group user/chaitu6
	create = group user/chaitu6
	push = +force group user/chaitu6
	pushMerge = group user/chaitu6
[access "refs/tags/*"]
	push = group user/chaitu6
	push = +force group user/chaitu6
